.Home {
    height: 100vh;
    background-image: url('./vertigo.png');
    background-size: 100% 100%;
    /* Cover the entire element */
    background-repeat: no-repeat;
    /* Prevent image from repeating */
    background-position: center;
    /* Center the image */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.btn {
    width: 150px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.btn:hover {
    background-color: black;
    color: white;
}

.hactive {
    background-color: white;

}

.h1 {
    font-size: 3rem;
    color: white;
    width: 100%;
}


.active {
    display: none;
}

.links {
    position: absolute;
    top: 5.3%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to right, rgb(26, 9, 31), rgb(53, 52, 52));
    border-radius: 10px;
    padding: 10px;
}


.logo {
    position: absolute;
    top: 10px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imgg {
    height: 34.8px;
    width: 52.8px;
}

.verti {
    color: #EAD8FB;
    font-family: "Roboto", sans-serif;
    font-weight: 900;

}

.logo1:hover {
    transform: scale(1.3);
}

.headline {
    color: rgba(0, 0, 0, 0.3);
    font-size: 3.4rem;
    letter-spacing: 0.6em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-top: 60px;

}

.inp {
    position: absolute;
    top: 5.3%;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: black;
    border: none;
    background-image: linear-gradient(to right, rgb(26, 9, 31), rgb(53, 52, 52));
    right: 5%;
    color: white;

}

.inp::placeholder {
    color: white;
}



.icons {
    position: absolute;
    right: 5.3%;
    top: 5.9%;
}

.icons:hover {
    transform: scale(1.2);
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity for the blur effect */
    backdrop-filter: blur(10px);
    /* Adjust the blur amount */
    z-index: 999;
}

.desktop-warning {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 1000;
}

.message{
    position: absolute;
    top: 8%;
    right: 5.9%;
}